.login {
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 450px;

  &__error {
    color: rgb(255, 61, 61);
    margin: 0;
    margin-left: 5px;
  }

  &__logo {
    object-fit: cover;
    width: 100%;
    max-width: 250px;
    place-self: center;
  }

  &__container {
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    background-color: #23243c;
    -webkit-box-shadow: 2px -1px 129px 5px rgba(46, 51, 126, 0.7);
    -moz-box-shadow: 2px -1px 129px 5px rgba(46, 51, 126, 0.7);
    box-shadow: 2px -1px 129px 5px rgba(46, 51, 126, 0.7);
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 19px;

    label {
      margin-left: 5px;
    }

    input {
      margin-top: -8px;
      background: #434459;
      border: 1px solid transparent;
      padding: 10px 20px;
      border-radius: 10px;
      color: white;
      font-family: inherit;
      font-size: 18px;

      &:focus {
        background-color: #0f101a;
        border: none;
        outline: 1px solid rgb(75, 75, 245);
      }

      &::placeholder {
        color: white;
        font-family: inherit;
      }
    }

    button {
      background-color: rgb(230, 230, 230);
      margin-top: 15px;
      font-family: inherit;
      border-radius: 20px;
      padding: 10px 20px;
      font-weight: 600;
      font-size: 19px;
      border: 1px solid transparent;
      cursor: pointer;

      &:hover {
        background-color: white;
      }

      &:active {
        border: 2px solid #23243c;
        outline: 3px solid rgb(255, 255, 255);
        background-color: rgba(230, 230, 230, 0.7);
      }
    }
  }
}

@media (max-width: 400px) {
  .login {
    &__container {
      padding: 0;
      margin: 20px 10px;
      background-color: transparent;
      -webkit-box-shadow: 2px -1px 129px 5px transparent;
      -moz-box-shadow: 2px -1px 129px 5px transparent;
      box-shadow: 2px -1px 129px 5px transparent;
    }

    &__form {
      font-size: 16px;

      input {
        font-size: inherit;
      }

      button {
        font-size: inherit;
      }
    }
  }
}
