@import "@styles/mixins";

.landing {
  // max-width: 1280px;
  margin: 0 auto;
  text-align: center;

  &__homeImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    filter: drop-shadow(18px 5px 100px #5282d4);
    filter: -webkit-drop-shadow(18px 5px 400px #5282d4);
    margin: -20px 15px 0px 15px;

    &__logo {
      object-fit: cover;
      width: 60%;
      max-width: 290px;
    }
  }

  button {
    background-color: #0059ff;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 12px 24px;
    font-size: 20px;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      border-color: #dbddff;
    }

    &:active {
      transform: scale(0.9);
      background-color: #0059ff7c;
      border-color: transparent;
      color: rgba(83, 38, 38, 0.425);
      outline: none;
    }
  }
}

@include Desktop() {
  .landing {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__homeImg {
      grid-column: 2;
      // min-height: 400px;
    }

    &__text {
      margin: 50px 450px 0px 50px;
      max-width: 700px;
      text-align: left;
      min-width: 600px;
      position: absolute;
      top: 0;
      left: 0;

      h1 {
        font-size: 50px;
      }
    }

    button {
      font-size: 20px;
    }
  }
}
